MARIADB_ROOT_PASSWORD=REPLACE_ME_DB_STAGING_ROOT_PASS
MARIADB_DATABASE=REPLACE_ME_DB_STAGING_NAME
MARIADB_USER=REPLACE_ME_DB_STAGING_USER
MARIADB_PASSWORD=REPLACE_ME_DB_STAGING_USER_PASS
MYSQL_TCP_PORT=REPLACE_ME_DB_STAGING_PORT
TZ=America/New_York
STAGING=true