DATA_SOURCE_NAME=REPLACE_ME_DATASOURCE_NAME
GF_SECURITY_ADMIN_USER=REPLACE_ME_GRAFANA_USER
GF_SECURITY_ADMIN_PASSWORD=REPLACE_ME_GRAFANA_PASS
DISCORD_TOKEN=REPLACE_ME_DISCORD_TOKEN
PROMCORD_PREFIX=promcord_
DB_CONNECTION_STRING=REPLACE_ME_DBC_STRING