DISCORD_TOKEN=REPLACE_ME_DISCORD_STAGING_TOKEN
DB_NAME=REPLACE_ME_DB_STAGING_NAME
DB_USER=REPLACE_ME_DB_STAGING_USER
DB_PASS=REPLACE_ME_DB_STAGING_USER_PASS
DB_PORT=REPLACE_ME_DB_STAGING_PORT
STAGING=true
