CLOUDFLARE_EMAIL=REPLACE_ME_CF_EMAIL
CLOUDFLARE_DNS_API_TOKEN=REPLACE_ME_CF_DNS_API_TOKEN
API_KEY=REPLACE_ME_CF_DNS_API_TOKEN
CF_TOKEN=REPLACE_ME_CF_DNS_API_TOKEN
DOMAIN1=REPLACE_ME_DOMAIN
ZONE=REPLACE_ME_DOMAIN
TARGET_DOMAIN=REPLACE_ME_DOMAIN
DOMAIN1_ZONE_ID=REPLACE_ME_ZONE_ID # Copy from Cloudflare zone Overview page
PROXIED=true
RRTYPE=A
DELETE_ON_STOP=false
DNS_SERVER=1.1.1.1
TIMEZONE=America/New_York
TRAEFIK_VERSION=2
DOMAIN1_PROXIED=TRUE