USE REPLACE_ME_DB_NAME;
CREATE USER 'exporter'@'db_exporter' IDENTIFIED BY 'REPLACE_ME_EXPORTER_PASS' WITH MAX_USER_CONNECTIONS 2;
GRANT PROCESS, REPLICATION CLIENT, SELECT ON *.* TO 'exporter'@'db_exporter';
FLUSH PRIVILEGES;